@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ff8882;
    --black-color: #0E2431;
    --white-color: #fff;
}

body {
    font-family: 'ubuntu', 'sans-serif';
}


/*custom scroll bar for css */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}


/* navbar styling */

nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
    transition: all 0.3s ease;
}

nav.sticky {
    background: var(--primary-color);
    padding: 13px 0;
}

nav .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .logo a {
    font-weight: 500;
    font-size: 35px;
    color: var(--primary-color);
}